**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/bin
**/obj
**/Dockerfile*
**/docker-compose*
**/*.sln
**/*.user
**/*.userosscache
**/*.suo
**/*.userprefs
**/*.dbmdl
**/*.jfm
**/*.pfx
**/*.publishsettings
**/local.settings.json
**/appsettings.*.json
!**/appsettings.json
!**/appsettings.Development.json
**/node_modules
**/npm-debug.log
**/bower_components
**/TestResults
**/nunit-*.xml
**/_ReSharper*
